.text-classifier {
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 0px;
}

.titulo{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #3e87d5;
}

.subtitulo{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #3e87d5;
  text-align: left;
}

.odsd-link{
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center; /* Centro horizontal */
  flex-wrap: wrap; /* Ajustar el contenido a medida que se reduce el ancho */
  gap: 20px; /* Espacio entre las columnas */
  align-items: center; /* Centro vertical */
}
.p-subtitulo{
  text-align: justify;
}
.img-principal {
  max-width: 100%;
  height: 20%;
  margin-bottom: 20px;
  box-shadow: #3778bf 0px 0px 10px 3px;
}

.input-container {
  width: 80%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.input-group{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  min-height: 50px;
  height: 55px;
  width: 50%;
  padding: 1rem;
  font-size: 18px;
  border: 1px solid #3e87d5;
  border-radius: 6px 6px 0 6px;
  background-color: transparent;
  color: rgb(42, 42, 42);
}

.button--submit2{
  min-height: 50px;
  height: 55px;
  padding: .5em 1em;
  font-weight: 400;
  font-style: italic;
  text-decoration:underline;
  border: 1px solid #2ba548;
  border-radius: 6px;
  background-color: #2ba548;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
 
}

.button--submit {
  min-height: 50px;
  height: 55px;
  padding: .5em 1em;
  border: 1px solid #3e87d5;
  border-radius: 0 6px 6px 6px;
  background-color: #3e87d5;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #3778bf;
}

.input:focus, .input:focus-visible {
  border-color: #3778bf;
  outline: none;
}

.result {
  margin-top: 20px;
}

.result p {
  font-size: 18px;
}

.img-ods {
  max-height: 40%;
  padding: 0px;
  transition: transform 0.2s, box-shadow 0.2s; /* Agregar una transición suave */
  margin-right: auto; 
  border-radius: 600px;
}

/* Estilos al pasar el ratón sobre el botón */
.img-ods:hover {
  transform: translateY(-5px); /* Desplazar ligeramente hacia arriba */
  box-shadow: 0 4px 6px 1px #3778bf4f, 0 2px 4px 1px #3778bf17; /* Agregar una sombra suave */
}

.col-6.imglink{
  padding: 0px;
  margin: 0px; 
  margin-right: auto; 
}

.col-6.txtlink{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto; 
}

.result{
  margin-left: 50px;
  margin-right: 50px; 
}

.imgODS{
  max-width: 100%;
  height: 100%;

}
.card.mb-3{
  width: fit-content;
  height: fit-content;
  margin-bottom: 50px;
}

.card-body{
  padding: 0px;
  text-align: left;
  align-items: left;
}

.card-text{
  color: #465d76;
}

.card-title{
  color: #3e87d5;
  font-weight: 500;
}
